body {
  background-color: #000000;
  color: #ffffff  ;
}

.btnNormal {
  padding: 10px;
  width: 100%;
  border: none;
  outline:none;
  border-radius: 5px;
  cursor: pointer;

}

.projects .project{
  margin-top: 10px;
  cursor: pointer;
  transition: .3s;
  border: none;

}

.projects .project:hover{
  background-color: #000000;
  border: 1px solid #0f0e0e;
}